import jenkins.model.*
import com.cloudbees.plugins.credentials.*
import com.cloudbees.plugins.credentials.common.*
import com.cloudbees.plugins.credentials.domains.*
import org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl 
import com.cloudbees.jenkins.plugins.awscredentials.AWSCredentialsImpl
import com.microsoft.azure.util.AzureCredentials
import hudson.util.Secret

def store = Jenkins.instance.getExtensionList('com.cloudbees.plugins.credentials.SystemCredentialsProvider')[0].getStore()
def domain = Domain.global()

println("--> 2. Inyectando credenciales Multicloud en Jenkins...")

// 1. CREDENCIALES DE AWS 
def awsCreds = new AWSCredentialsImpl(
  CredentialsScope.GLOBAL,
  "aws-credentials-id",
  "{{ aws_access_key }}",
  "{{ aws_secret_key }}",
  "Credenciales AWS generadas por Ansible IaC"
)
store.addCredentials(domain, awsCreds)

// 1.1 AWS SESSION TOKEN 
def awsSessionToken = new StringCredentialsImpl(
  CredentialsScope.GLOBAL,
  "aws-session-token",
  "AWS Session Token temporal de Learner Lab generado por Ansible IaC.",
  Secret.fromString("{{ aws_session_token | default('') }}")
)
store.addCredentials(domain, awsSessionToken)
println("--> AWS Session Token registrado bajo el ID: aws-session-token")

// 2. CREDENCIALES DE AZURE 
def azureCreds = new AzureCredentials(
  CredentialsScope.GLOBAL,
  "azure-credentials-id",
  "Credenciales Azure Service Principal generadas por Ansible IaC",
  "{{ azure_subscription_id }}",
  "{{ azure_client_id }}",
  "{{ azure_client_secret }}"
)
azureCreds.setTenant("{{ azure_tenant_id }}")
store.addCredentials(domain, azureCreds)

// 3. CREDENCIALES DE BASE DE DATOS (DB)
def dbCreds = new StringCredentialsImpl(
  CredentialsScope.GLOBAL,
  "db-host-cred",
  "Credenciales de base de datos generadas por Ansible IaC.",
  Secret.fromString("{{ db_host_cred | default('') }}")
)

store.addCredentials(domain, dbCreds)
println("--> AWS Session Token registrado bajo el ID: db-host-cred")

def dbUserCreds = new StringCredentialsImpl(
  CredentialsScope.GLOBAL,
  "db-user-cred",
  "Credenciales de usuario de base de datos generadas por Ansible IaC.",
  Secret.fromString("{{ db_user_cred | default('') }}")
)

store.addCredentials(domain, dbUserCreds)
println("--> AWS Session Token registrado bajo el ID: db-user-cred")


def dbPasswordCreds = new StringCredentialsImpl(
  CredentialsScope.GLOBAL,
  "db-pass-cred",
  "Credenciales de contraseña de base de datos generadas por Ansible IaC.",
  Secret.fromString("{{ db_pass_cred | default('') }}")
)

store.addCredentials(domain, dbPasswordCreds)
println("--> AWS Session Token registrado bajo el ID: db-pass-cred")


def dbNameCreds = new StringCredentialsImpl(
  CredentialsScope.GLOBAL,
  "admin-pass-cred",
  "Credenciales de nombre de base de datos generadas por Ansible IaC.",
  Secret.fromString("{{ admin_pass_cred | default('') }}")
)

store.addCredentials(domain, dbNameCreds)
println("--> AWS Session Token registrado bajo el ID: admin-pass-cred")

Jenkins.instance.save()
println("--> ✅ Todas las credenciales Multicloud fueron inyectadas con éxito.")