import jenkins.model.*
import com.cloudbees.plugins.credentials.*
import com.cloudbees.plugins.credentials.common.*
import com.cloudbees.plugins.credentials.domains.*
import org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl 
import com.cloudbees.jenkins.plugins.awscredentials.AWSCredentialsImpl
import com.microsoft.azure.util.AzureCredentials
import hudson.util.Secret

def store = Jenkins.instance.getExtensionList('com.cloudbees.plugins.credentials.SystemCredentialsProvider')[0].getStore()
def domain = Domain.global()

println("--> 2. Inyectando credenciales Multicloud en Jenkins...")

// 1. CREDENCIALES DE AWS 
def awsCreds = new AWSCredentialsImpl(
  CredentialsScope.GLOBAL,
  "aws-credentials-id",
  "{{ aws_access_key }}",
  "{{ aws_secret_key }}",
  "Credenciales AWS generadas por Ansible IaC"
)
store.addCredentials(domain, awsCreds)

// 1.1 AWS SESSION TOKEN 
def awsSessionToken = new StringCredentialsImpl(
  CredentialsScope.GLOBAL,
  "aws-session-token",
  "AWS Session Token temporal de Learner Lab generado por Ansible IaC",
  Secret.fromString("{{ aws_session_token | default('') }}")
)
store.addCredentials(domain, awsSessionToken)
println("--> AWS Session Token registrado bajo el ID: aws-session-token")

// 2. CREDENCIALES DE AZURE 
def azureCreds = new AzureCredentials(
  CredentialsScope.GLOBAL,
  "azure-credentials-id",
  "Credenciales Azure Service Principal generadas por Ansible IaC",
  "{{ azure_subscription_id }}",
  "{{ azure_client_id }}",
  "{{ azure_client_secret }}"
)
azureCreds.setTenant("{{ azure_tenant_id }}")
store.addCredentials(domain, azureCreds)

Jenkins.instance.save()
println("--> ✅ Todas las credenciales Multicloud fueron inyectadas con éxito.")